<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-lms Activation Link</title>
  </head>
  <body>
    <h1>Welcome to E-LMS</h1>
    <p>Hello <%= user.name%></p>
    <h2>Activation Code : <%= activationCode%></h2>
  </body>
</html>
